{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Watchlist</h2>
    {% if listings %}
        <div>
            {% for listing in listings %}
                <div>
                    <li>
                        <a href="{% url 'listing_page' listing.id %}"> {{ listing.title }}</a>
                    </li>
                </div>
                <hr>
            {% endfor %}
        </div>
    {% else %}
        <p>Your watchlist is empty</p>
    {% endif %}
                
{% endblock %}